body{

background-color: #242526;
margin: 0px;
padding:0px;
max-width: 100%;
}

	.logo img{
		width:200px;

	}

	.logo{
		display: flex;
		justify-content: center;
		padding-bottom: 50px;
		padding-top: 20px;
		background-color: #18191a;
		box-shadow: 1px 2px 5px #03071e;
		margin-bottom: 50px;
	}
	#box1{
		border-radius: 10px;
		padding-bottom: 30px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 50px;
		box-shadow: 1px 2px 5px #0b090a;
		background-color: #3a3b3c;
		color: white;
		font-family: Arial, sans-serif;
		margin-bottom: 10px;


	}
	.box2{
		border-radius: 10px;
		padding-bottom: 30px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 50px;
		box-shadow: 1px 2px 5px #0b090a;
		background-color: #3a3b3c;
		color: white;
		font-family: Arial, sans-serif;
		margin-bottom: 10px;

	}
	.box3{
		border-radius: 10px;
		padding-bottom: 30px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 50px;
		box-shadow: 1px 2px 5px #0b090a;
		background-color: #3a3b3c;
		color: white;
		font-family: Arial, sans-serif;
		margin: 0px;

	}
	h1{

		font-family: Arial, sans-serif;
		font-size: 20px;
		margin-bottom: 12px;
		padding-bottom: 0px;
		color: #ef8354;

	}

	p{
		font-size: 50px;
		color: white;
		font-family: Arial, sans-serif;
		margin: 0px;
	}

	#weather{
		font-size: 18px;
		text-align: center;
		padding-top: 20px;
	}
	#sunrise{
		font-size: 18px;
	}

	#sunset{
		font-size: 18px;

	}


	.grid-container{
		display: block;
		margin-left: 40px;
		margin-right: 40px;

	}


	#map{
	height: 200px

	}

@media screen and (min-width:800px){
	
	h1{

		font-size: 25px;
		font-family: Arial, sans-serif;
		margin-bottom: 12px;
		padding-bottom: 0px;
	}
	p{
		font-size: 18px;
	}

	#box1{
		height: 250px;
	}
	.box2{
			height: 250px;
	}
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-gap: 20px;
		max-width:100%;
		}

		.grid-item-1 { 
			grid-column: 1/2; 
			grid-row: 1/2;
			padding-bottom: 0px;
		}
		.grid-item-2 { 
			grid-column: 2/3; 
			grid-row: 1/2;
			padding-bottom: 0px;
		}

		.grid-item-3 { 
			grid-column: 1/3; 
			grid-row: 2/3;
			padding:50px;
			padding-top: 20px;
		}

		#map{
		height: 300px

		}
}

@media screen and (min-width:1200px){


		.grid-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			grid-gap: 20px;
			max-width:100%;
		}
			.grid-item-3 { 
				grid-column: 1/3; 
				grid-row: 2/3;
				padding:40px;

			}

		#map{
		height: 400px

		}
}

@media screen and (min-width:1500px){
	.grid-container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto auto;
			grid-gap: 10px;
			max-width:100%;

			}

			.box3{
				height: 250px;
			}
			.grid-item-1 { 
				grid-column: 1/2; 
				grid-row: 1/2;
				padding-bottom: 0px;
			}
			.grid-item-2 { 
				grid-column: 2/3; 
				grid-row: 1/2;
				
			}
			.grid-item-3 { 
				grid-column: 3/3; 
				grid-row: 1/2;
				padding:0px;
			}
		#map{
		height: 200px

		}
}
